html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

#home {
	position: relative;
	background-color: black;
	height: 100%;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

#home video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#home .container {
	position: relative;
	z-index: 2;
}

#home .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
	#home video {
		display: none;
	}
}

#potencyText:before {
	content: "";
	white-space: pre;
	animation: animateTextList infinite 16s;
	text-decoration: underline dotted;
}

@keyframes animateTextList {
	0% {
		content: "Software"
	}
	20% {
		content: "Infraestructura"
	}
	40% {
		content: "Aplicación"
	}
	60% {
		content: "Proceso"
	}
	80% {
		content: "Idea"
	}
	100% {
		content: "Servicio"
	}
}

.list-service-titles:hover {
	cursor: pointer;
}

.scrollable {
	/* position: absolute; */
    overflow-y: scroll;
}

#us {
	background-image: url("../img/shutterstock_1935833692.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#services {
	background-image: url("../img/fondo_stars_blue.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cardTechnology {
	margin: 5px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}
.notVisible {
	display: none;
}
.imgServices{
	height:100px; 
	float: left; 
	width: 150px; 
	margin: 5px;
}

.buttonTech {
--text: #fff;
--font-size: 16px;
--duration: .44s;
--move-hover: -4px;
--shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
--shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
--font-shadow: var(--font-size);
float: left;
cursor: pointer;
margin: 5px;
padding: 10px;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 5px;
width: auto;
text-align: center;
/* font-family: 'Roboto'; */
font-weight: 500;
line-height: var(--font-size);
display: block;
outline: none;
text-decoration: none;
font-size: var(--font-size);
/* letter-spacing: .5px; */
color: var(--text);
box-shadow: var(--shadow);
-webkit-transform: translateY(var(--y));
			transform: translateY(var(--y));
transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
transition: transform var(--duration) ease, box-shadow var(--duration) ease;
transition: transform var(--duration) ease, box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
}
/* starts css for services buttons */
.buttonTech span {
display: flex;
overflow: hidden;
text-shadow: 0 var(--font-shadow) 0 var(--text);
}

.buttonTech span i {
display: block;
-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
font-style: normal;
transition: -webkit-transform var(--duration) ease;
transition: transform var(--duration) ease;
transition: transform var(--duration) ease, -webkit-transform var(--duration) ease;
-webkit-transform: translateY(var(--m));
			transform: translateY(var(--m));
}

.buttonTech span i:nth-child(1) {
transition-delay: 0.05s;
}

.buttonTech span i:nth-child(2) {
transition-delay: 0.1s;
}

.buttonTech span i:nth-child(3) {
transition-delay: 0.15s;
}

.buttonTech span i:nth-child(4) {
transition-delay: 0.2s;
}

.buttonTech span i:nth-child(5) {
transition-delay: 0.25s;
}

.buttonTech span i:nth-child(6) {
transition-delay: 0.3s;
}

.buttonTech span i:nth-child(7) {
transition-delay: 0.35s;
}

.buttonTech span i:nth-child(8) {
transition-delay: 0.4s;
}

.buttonTech span i:nth-child(9) {
transition-delay: 0.45s;
}

.buttonTech span i:nth-child(10) {
transition-delay: 0.5s;
}

.buttonTech span i:nth-child(11) {
transition-delay: 0.55s;
}

.buttonTech:hover {
--y: var(--move-hover);
--shadow: var(--shadow-hover);
}

.buttonTech:hover i {
--m: calc(var(--font-size) * -1);
}

.buttonTech.reverse {
--font-shadow: calc(var(--font-size) * -1);
}

.buttonTech.reverse:hover i {
--m: calc(var(--font-size));
}
/* finish css for services buttons */