html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

.no-overflow {
	overflow: hidden;
}

#overlay {
	z-index: 999999;
	position: fixed;
}

#homeVideo {
	object-fit: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#potencyText:before {
	content: "";
	white-space: pre;
	animation: animateTextList infinite 16s;
	text-decoration: underline dotted;
}

@keyframes animateTextList {
	0% {
		content: "Software"
	}
	20% {
		content: "Infraestructura"
	}
	40% {
		content: "Aplicación"
	}
	60% {
		content: "Proceso"
	}
	80% {
		content: "Idea"
	}
	100% {
		content: "Servicio"
	}
}

.list-service-titles:hover {
	cursor: pointer;
}

.scrollable {
	/* position: absolute; */
    overflow-y: scroll;
}

#us {
	background-image: url("../img/shutterstock_1935833692.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#services {
	background-image: url("../img/fondo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


@media (min-width: 576px) {
	.h-sm-75 {
	  height: 75% !important;
	}
	.h-sm-100 {
	  height: 100% !important;
	}
  }
  @media (min-width: 768px) {
	.h-md-75 {
	  height: 75% !important;
	}
	.h-md-100 {
	  height: 100% !important;
	}
  }
  @media (min-width: 992px) {
	.h-lg-75 {
	  height: 75% !important;
	}
	.h-lg-100 {
	  height: 100% !important;
	}
  }
  @media (min-width: 1200px) {
	.h-xl-75 {
	  height: 75% !important;
	}
	.h-xl-100 {
	  height: 100% !important;
	}
  }